@font-face {
  src: url('../static/fonts/Basic-Commercial-LT-Com-Black.ttf');
  font-family: 'Akzidenz-Grotesque-Bold';
}
html {
  scroll-behavior: smooth;
}
button {
  border: none;
  min-height: 35px;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 1rem auto;
  display: block;
  transition: all 0.2s ease;
  outline: none;
  font-family: 'Roboto';
}

button:hover {
  cursor: pointer;
  border-radius: 30px;
  background-color: azure;
}

button:focus {
  outline: none;
}
