@font-face {
  font-family: 'Meta Pro';
  src: url('../public/static/fonts/meta-pro/MetaPro\ -\ Roman.woff')
    format('woff');
}

@font-face {
  font-family: 'Meta Pro';
  src: url('../public/static/fonts/meta-pro/MetaPro\ -\ Bold.woff')
    format('woff');
  font-weight: 800;
}

@font-face {
  src: url('../public/static/fonts/Georgia/Georgia.ttf') format('ttf');
  font-family: 'Georgia';
  font-weight: 200;
}

@font-face {
  src: url('../public/static/fonts/Delivery/Delivery_W_Bd.woff') format('woff');
  font-family: 'Delivery';
  font-weight: 800;
}

@font-face {
  src: url('../public/static/fonts/College-Block.otf');
  font-family: 'College Block';
}

@font-face {
  src: url('../public/static/fonts/College-Block.otf');
  font-family: 'College Block';
}

@font-face {
  src: url('../public/static/fonts/Basic-Commercial-LT-Com-Black.ttf');
  font-family: 'Akzidenz-Grotesque-Bold';
}
@font-face {
  src: url('../public/static/fonts/Avenir-Light.ttf') format('truetype');
  font-family: 'Avenir';
  font-weight: 200;
}
@font-face {
  src: url('../public/static/fonts/Avenir-Roman.ttf') format('truetype');
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url('../public/static/fonts/Avenir-Medium.ttf') format('truetype');
  font-family: 'Avenir';
  font-weight: 600;
}
@font-face {
  src: url('../public/static/fonts/Avenir-Black.ttf') format('truetype');
  font-family: 'Avenir';
  font-style: bold;
  font-weight: 800;
}

@font-face {
  src: url('../public/static/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
  font-family: 'Source-Sans-Bold';
}

@font-face {
  src: url('../public/static/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
  font-family: 'Source-Sans-Regular';
}

@font-face {
  src: url('../public/static/fonts/HoueGothic.ttf');
  font-family: 'House-Gothic';
}

@font-face {
  src: url('../public/static/fonts/Tiempos/TiemposFine-Light.otf');
  font-family: 'Tiempos Fine';
  font-weight: 400;
}
@font-face {
  src: url('../public/static/fonts/segoepr.ttf');
  font-family: 'Segoe';
}

@font-face {
  src: url('../public/static/fonts/Futura/FuturaStd-Bold.otf');
  font-family: 'Futura Bold';
}

@font-face {
  src: url('../public/static/fonts/AceSans-Bold.otf');
  font-family: 'Ace Sans';
}

@font-face {
  src: url('../public/static/fonts/Hanoded.otf');
  font-family: 'Hanoded';
}

@font-face {
  src: url('../public/static/fonts/Gotham-Book.otf');
  font-family: 'Gotham';
}

@font-face {
  font-family: 'Sofia';
  src: url('../public/static/fonts/Sofia/Sofia-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Sofia';
  src: url('../public/static/fonts/Sofia/Sofia-Light.otf');
  font-style: thin;
  font-weight: 200;
}

@font-face {
  font-family: 'Sofia';
  src: url('../public/static/fonts/Sofia/Sofia-Bold.otf');
  font-weight: 800;
  font-style: bold;
}

:root {
  --mjp-orange: #f67b00;
  --mjp-shadow: 0px 0px 18px -15px;
}
html {
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
  border: none;
  display: block;
  margin: 1rem auto;
}

button.btn,
.MuiButton-root.btn {
  min-height: 40px;
  min-width: clamp(130px, 10vw, 40vw);
  padding: 5px 10px;
  border-radius: 1px;
  font-size: 12px;
  font-weight: 400;
  transition: all 0.2s ease;
  outline: none;
  font-family: Avenir;
  letter-spacing: 2px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

button:focus {
  outline: none;
}
img {
  width: inherit;
  height: auto;
  margin: auto;
}

a {
  margin: 0;
  text-decoration: none;
}

p {
  font-size: 16px;
}

@keyframes bounce {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(105%);
  }
  100% {
    transform: scale(100%);
  }
}
